<div class="row" style="margin-top: 20px;">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          案例检索
        </h3>
      </div>
      <div class="panel-body">
        <%= form_tag({ controller: 'cases', action: :index }, method: :get) do %>
          <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name" class="control-label">案例名称</label>
                  <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "请输入商品名称" %>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name" class="control-label">用户名称</label>
                  <%= text_field_tag :username, params[:username], class: "form-control", placeholder: "请输入商品名称" %>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name" class="control-label">案例关键词</label>
                  <%= text_field_tag :tag, params[:tag], class: "form-control", placeholder: "请输入商品名称" %>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                  <input type="submit" class="btn btn-primary" name="commit" value="查询" data-disable-with="查询中。。。">
              </div>
            </div>
          </div>
        <% end %>
        <br>
        <hr style="display: block;height: 1px;border: 0;border-top: 1px dashed #ccc;margin: 1em 0;padding: 0; ">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-striped table-bordered table-hover dataTables-example">
              <thead>
                <tr>
                    <th>案例ID</th>
                    <th>案例名称</th>
                    <th>用户名称</th>
                    <th>关键词</th>
                    <th style="width:30%;">案例描述</th>
                    <th>案例数据</th>
                    <th>操作</th>
                </tr>
              </thead>
            <tbody>
              <% @cases.each do |item| %>
                <tr>
                  <td><%= item.id %></td>
                  <td><%= item.name %></td>
                  <td><%= item.username %></td>
                  <td><%= item.tag %></td>
                  <td><%= item.desc %></td>
                  <td><%= item.file %></td>
                  <td><%= link_to '删除', item, method: :delete, data: { confirm: '确定删除?' }, class: "btn btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
            <%# <tfoot>
              <tr>
                  <th>案例ID</th>
                  <th>案例名称</th>
                  <th>用户名称</th>
                  <th>关键词</th>
                  <th>案例描述</th>
                  <th>案例数据</th>
                  <th>操作</th>
              </tr>
            </tfoot> %>
          </table>
          <%= paginate @cases %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
